<div class="login-page">
  <mat-card>
    <div class="card-layout">
      <div class="form-container">
        <mat-card-header>
          <mat-card-title>Iniciar Sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                El email es obligatorio.
              </mat-error>
              <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                Ingresa un email válido.
              </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
                La contraseña es obligatoria.
              </mat-error>
              <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">
                La contraseña debe tener al menos 6 caracteres.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="login()">Iniciar Sesión</button>
            <br>  
            <br>
            <p class="text">¿No tienes una cuenta? <strong><a (click)="register()" style="cursor: pointer; color: blue;">Crear cuenta</a></strong></p>
          </form>
        </mat-card-content>
      </div>
      <div class="logo-container">
        <img src="logop.png" alt="Logo de la Empresa">
      </div>
    </div>
  </mat-card>
</div>