<div class="container">
  <div class="header">
    <h1>Gestión de Proveedores</h1>
    <button mat-raised-button color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
      Nuevo Producto
    </button>
  </div><table mat-table [dataSource]="providers" class="mat-elevation-z8">
    
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Nombre del proveedor -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Contacto -->
      <ng-container matColumnDef="contact_info">
        <th mat-header-cell *matHeaderCellDef> Info de contacto </th>
        <td mat-cell *matCellDef="let element"> {{element.contact_info}} </td>
      </ng-container>
    
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" aria-label="Edit" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  